# python debugger (pdb)
snippet pdb
__import__("pdb").set_trace()$1
endsnippet


# Docstring starter
snippet doc
"""
$1
"""
endsnippet


# Main script init
snippet ifmain
import argparse


def main(args):
	$1

if __name__ == "__main__":
	parser = argparse.ArgumentParser()
	args = parser.parse_args()
	main(args)
endsnippet
