# python debugger (pdb)
snippet pdb
import pdb; pdb.set_trace()$1
endsnippet


# Docstring starter
snippet doc
"""
$1
"""
endsnippet


# Main script init
snippet ifmain
def main():
	$1

if __name__ == "__main__":
	main()
endsnippet
